# Parsing PDFs Homework

With the power of pdfminer, pytesseract, Camelot, and Tika, let's analyze some documents!

> If at any point you think, **"I'm close enough, I'd just edit the rest of it in Excel"**: that's fine! Just make a note of it.

## A trick to use again and again

### Approach 1

Before we get started: when you want to take the first row of your data and set it as the header, use this trick.

In [21]:
import pandas as pd
import camelot
import numpy as np
import tika
from tika import parser
import re

In [3]:
df = pd.DataFrame([
    [ 'fruit name', 'likes' ],
    [ 'apple', 15 ],
    [ 'carrot', 3 ],
    [ 'sweet potato', 45 ],
    [ 'peach', 12 ],
])
df

              0      1
0    fruit name  likes
1         apple     15
2        carrot      3
3  sweet potato     45
4         peach     12

In [4]:
# Set the first column as the columns
df.columns = df.loc[0]

# Drop the first row
df = df.drop(0)

df

0    fruit name likes
1         apple    15
2        carrot     3
3  sweet potato    45
4         peach    12

ðŸš€ Done!

### Approach 2

Another alternative is to use `.rename` on your columns and just filter out the columns you aren't interested in. This can be useful if the column name shows up multiple times in your data for some reason or another.

In [5]:
# Starting with the same-ish data...
df = pd.DataFrame([
    [ 'fruit name', 'likes' ],
    [ 'apple', 15 ],
    [ 'carrot', 3 ],
    [ 'fruit name', 'likes' ],
    [ 'sweet potato', 45 ],
    [ 'peach', 12 ],
])
df

              0      1
0    fruit name  likes
1         apple     15
2        carrot      3
3    fruit name  likes
4  sweet potato     45
5         peach     12

In [6]:
df = df.rename(columns={
    0: 'fruit name',
    1: 'likes'
})
df = df[df['fruit name'] != 'fruit name']
df

     fruit name likes
1         apple    15
2        carrot     3
4  sweet potato    45
5         peach    12

ðŸš€ Done!

### Useful tips about coordinates

If you want to grab only a section of the page [Kull](https://jsoma.github.io/kull/#/) might be helpful in finding the coordinates.

> **Alternatively** run `%matplotlib notebook` in a cell. Afterwards, every time you use something like `camelot.plot(tables[0]).show()` it will get you nice zoomable, hoverable versions that include `x` and `y` coordinates as you move your mouse.

Coordinates are given as `"left_x,top_y,right_x,bottom_y"` with `(0,0)` being in the bottom left-hand corner.

Note that all coordinates are strings, for some reason. It won't be `[1, 2, 3, 4]` it will be `['1,2,3,4']`

# The homework

This is **mostly Camelot work**, because I don't really have any good image-based PDFs to stretch your wings on tesseract. If you know of any, let me know and I can put together another couple exercises.

## Prison Inmates

Working from [InmateList.pdf](InmateList.pdf), save a CSV file that includes every inmate.

* Make sure your rows are *all data*, and you don't have any people named "Inmate Name."

In [3]:
## If camelot isn't working, check if it can find the Ghostscript library. 
## If this command gives you nothing, look up where Ghostscript is found in your program files and  add the path to your environmental variables.
#import ctypes
#from ctypes.util import find_library
#find_library("".join(("gsdll", str(ctypes.sizeof(ctypes.c_voidp) * 8), ".dll")))

'C:\\Program Files\\gs\\gs9.54.0\\bin\\gsdll64.dll'

In [2]:
tables = camelot.read_pdf("InmateList.pdf", flavor="stream", pages='1-end')

# lattice - borders between things
# stream - empty space between things

In [3]:
tables

In [9]:
%matplotlib notebook
camelot.plot(tables[6], kind='text').show()

In [109]:
tables[0].df.drop([0,1,2]).drop(columns=[2,5]) #Works for every page except 7 and 16

              0                         1           3           4
3         70693         ABDALLAH, MICHAEL        ECHC  04/30/2021
4        152645                ABDI, ABDI        ECCF  06/20/2021
5        144666          ABDULLAH, DHAFIR        ECCF  06/17/2021
6        156374           ACEVEDO, CARLOS        ECHC  06/06/2021
7         57243          ACKER, RAYMOND P        ECCF  11/02/2020
8         68579          ADAMS, JERMAIN C        ECHC  09/19/2019
9         45262            ADAMS, MARQUIS        ECHC  05/27/2021
10        75738         AKRIGHT, JOSEPH A        ECCF  05/29/2021
11       104048         ALBERTSON, ANDREW        ECCF  12/04/2019
12         1577          ALEXANDER, BRIAN        ECHC  07/13/2021
13       148951           ALICEA, PABLO E        ECCF  05/19/2020
14       139806        ALKULIFI, ABDULLAH        ECHC  07/01/2021
15       124661           ALLEN, DARNELLE        ECCF  12/03/2020
16       125234          ALLEN, DEMONDE C        ECHC  05/03/2021
17       131437            ALLEN, GLENN A        ECCF  06/12/2021
18       144648          ALLEN, KASSEEN F        ECHC  06/29/2021
19       155564          ALLEN, TIFFANY M        ECHC  04/12/2021
20        94012            AMAN, JOSHUA D        ECHC  06/27/2021
21        60170         ANDREWS, NICOLE J        ECHC  04/24/2021
22         1550             ARCARA, SHAWN        ECCF  01/20/2021
23        69158           ARCHER, MARTELL        ECHC  07/01/2021
24        84791             AULS, RAYMOND        ECHC  06/03/2021
25       124759         AUSTIN, RASHAWN G        ECHC  01/28/2021
26       150703            AYALA, MIKEL D        ECCF  05/17/2021
27        90957             BAEZ, OSCAR J        ECHC  06/22/2021
28       144717          BAILEY, JARELD D        ECHC  03/18/2021
29       152772            BAKER, BRYCE J        ECCF  12/04/2020
30       156189            BALD, EDWARD M        ECHC  02/27/2021
31        45844        BARBER, CORELLIS C        ECCF  06/02/2021
32        11444             BARBER, KEVIN        ECCF  02/26/2020
33        99417          BARCLAY, BRANDON        ECCF  09/24/2020
34       121931          BARCLAY, CHEMERE        ECHC  04/29/2021
35       156058              BARKER, JOHN        ECHC  11/27/2020
36         6400             BARKER, LLOYD        ECHC  09/30/2020
37        60960           BARNES, BYRON K        ECCF  03/13/2021
38       143728         BARNES, DONNELL A        ECHC  06/30/2021
39       156210            BARNWELL, GAIL        ECHC  03/12/2021
40       139480         BARNWELL, RICHARD        ECCF  10/07/2020
41        99034        BARROWMAN, GLENN R        ECHC  07/08/2021
42       110974            BASSETT, BRYAM        ECHC  05/08/2019
43       140981           BASTEDO, ROBARE        ECCF  02/15/2021
44       141722           BATES, MOULIK D        ECHC  03/16/2021
45       156050             BATES, TONY M        ECHC  04/01/2021
46  Created On:  Wednesday, July 14, 2021  9:45:01 am

In [204]:
pg1 = tables[15].df.drop([0,1,2])
pg1 = pg1[pg1[0].str.contains("Created On")==False]
pg1 = pg1.replace('', np.nan)  
pg1 = pg1.dropna(axis=1, how="all")
pg1

         0                      1     2           3
3    27065       WHITFIELD, JAMES  ECHC  07/05/2021
4   145872       WHITFIELD, KYA S  ECHC  06/21/2021
5   150613    WHITTAKER, DAQUAN J  ECCF  05/06/2021
6   149101     WHITTAKER, TANJA M  ECHC  12/01/2020
7     1007          WILEY, KURT R  ECCF  09/17/2020
8   147398       WILKINS, ODELL M  ECHC  11/25/2020
9    98502       WILLIAMS, ADAM W  ECHC  02/25/2021
10  132212      WILLIAMS, BRANDON  ECHC  09/16/2020
11  105145      WILLIAMS, DAVID A  ECHC  07/03/2021
12   97828      WILLIAMS, DEREK A  ECCF  02/22/2021
13  127328      WILLIAMS, DONTA J  ECHC  10/30/2019
14  136026     WILLIAMS, KEIVON M  ECCF  06/07/2021
15    3330       WILLIAMS, OTIS D  ECHC  05/27/2021
16   62867      WILLIAMS, RALPH N  ECHC  08/30/2020
17  150397     WILLIAMS, ROQUAN D  ECCF  08/13/2020
18  155830      WILLIAMS, TALYN D  ECHC  06/20/2020
19   10737      WILSON, DEANDRE L  ECCF  10/09/2019
20  146071       WILSON, DWIGHT M  ECHC  06/15/2021
21  154035         WILSON, GENILE  ECHC  05/27/2021
22  140815       WILSON, JOSHUA E  ECHC  07/10/2020
23  142516     WINKOWSKI, JACOB T  ECHC  05/15/2021
24   80369         WOLFE, JAMES B  ECHC  01/23/2021
25  127089         WOLFSON, BRIAN  ECHC  06/30/2021
26  156294         WOOD, ALISIA S  ECHC  04/28/2021
27   51921          WOOD, RICKY J  ECHC  11/17/2020
28   13321          WOODS, RONALD  ECCF  04/16/2021
29   88406         WORTHY, DEVINE  ECHC  06/30/2021
30   36220       WOSILAIT, RONALD  ECHC  04/21/2021
31   26982        WRIGHT, JAMES L  ECHC  07/07/2021
32  156056     WRIGHT, RODERICK D  ECCF  11/26/2020
33   34017           WYATT, DAVID  ECHC  06/30/2021
34  128323         WYATT, JABREIL  ECHC  10/25/2020
35   95694           YOUNG, DAVID  ECHC  06/16/2021
36   87957   ZACCARIA, NICHOLAS E  ECHC  02/27/2021
37   18303      ZANGHI, SANTINO J  ECHC  05/24/2021
38  155109      ZARCONE, THOMAS E  ECHC  06/27/2021
39   63815       ZIELINSKI, LARRY  ECHC  07/06/2021
40   20740  ZIELINSKI, LAWRENCE T  ECCF  11/04/2020
41  155732          ZUKIC, TRAVIS  ECCF  03/01/2020

In [201]:
dfs = pd.DataFrame()

for table in tables:
    data = table.df.drop([0,1,2])
    data = data.replace('', np.nan)  
    data = data[data[0].str.contains("Created On")==False]
    data = data.dropna(axis=1, how="any")
    dfs = dfs.append(data, ignore_index = True)
    
dfs
##Columns are messed up because of pages 7 and 15.

          0                      1     2           3           4
0     70693      ABDALLAH, MICHAEL   NaN        ECHC  04/30/2021
1    152645             ABDI, ABDI   NaN        ECCF  06/20/2021
2    144666       ABDULLAH, DHAFIR   NaN        ECCF  06/17/2021
3    156374        ACEVEDO, CARLOS   NaN        ECHC  06/06/2021
4     57243       ACKER, RAYMOND P   NaN        ECCF  11/02/2020
..      ...                    ...   ...         ...         ...
679   18303      ZANGHI, SANTINO J  ECHC  05/24/2021         NaN
680  155109      ZARCONE, THOMAS E  ECHC  06/27/2021         NaN
681   63815       ZIELINSKI, LARRY  ECHC  07/06/2021         NaN
682   20740  ZIELINSKI, LAWRENCE T  ECCF  11/04/2020         NaN
683  155732          ZUKIC, TRAVIS  ECCF  03/01/2020         NaN

[684 rows x 5 columns]

In [205]:
dfs[2].fillna(dfs[3], inplace=True)

In [207]:
dfs[4].fillna(dfs[3], inplace=True)

In [211]:
dfs = dfs.drop(columns=[3])
         
dfs

          0                      1     2           4
0     70693      ABDALLAH, MICHAEL  ECHC  04/30/2021
1    152645             ABDI, ABDI  ECCF  06/20/2021
2    144666       ABDULLAH, DHAFIR  ECCF  06/17/2021
3    156374        ACEVEDO, CARLOS  ECHC  06/06/2021
4     57243       ACKER, RAYMOND P  ECCF  11/02/2020
..      ...                    ...   ...         ...
679   18303      ZANGHI, SANTINO J  ECHC  05/24/2021
680  155109      ZARCONE, THOMAS E  ECHC  06/27/2021
681   63815       ZIELINSKI, LARRY  ECHC  07/06/2021
682   20740  ZIELINSKI, LAWRENCE T  ECCF  11/04/2020
683  155732          ZUKIC, TRAVIS  ECCF  03/01/2020

[684 rows x 4 columns]

In [214]:
dfs = dfs.rename(columns={0:"icn", 1:"inmate_name", 2:"facility", 4: "booking_date"})

In [215]:
dfs.to_csv("inmates.csv", index=False)

## WHO resolutions

Using [A74_R13-en.pdf](A74_R13-en.pdf), what ten member countries are given the highest assessments?

* You might need to have two separate queries, and combine the results: that last page is pretty awful!
* Always rename your columns
* Double-check that your sorting looks right......
* You can still get the answer even without perfectly clean data

In [218]:
tables = camelot.read_pdf("A74_R13-en.pdf", flavor="stream", pages='1-end')

In [219]:
tables

In [265]:
dfs = pd.DataFrame()

for table in tables:
    data = table.df
    data = data.replace('', np.nan)  
    data = data.dropna(axis=1, how="all")
    dfs = dfs.append(data, ignore_index = True)

In [266]:
dfs

,0,1,2,3,4
0,Members and,WHO scale,NaN,NaN,NaN
1,Associate Members,for 2022â€“2023,NaN,NaN,NaN
2,NaN,%,NaN,NaN,NaN
3,Afghanistan,0.0070,NaN,NaN,NaN
4,Albania,0.0080,NaN,NaN,NaN
...,...,...,...,...,...
220,NaN,Zimbabwe,NaN,0.0050,NaN
221,NaN,TOTAL,NaN,100.000,NaN
222,NaN,NaN,NaN,NaN,"Seventh plenary meeting, 31 May 2021"
223,NaN,NaN,NaN,NaN,A74/VR/7
224,6,NaN,= = =,NaN,NaN

In [267]:
dfs = dfs.drop(columns=[2,4])

In [268]:
dfs[0].fillna(dfs[1], inplace=True)
dfs[3].fillna(dfs[1], inplace=True)

In [269]:
dfs = dfs.drop(columns=[1])

In [248]:
#dfs.dropna(axis='rows', how='any')

                     0              3
0          Members and      WHO scale
1    Associate Members  for 2022â€“2023
2                    %              %
3          Afghanistan         0.0070
4              Albania         0.0080
..                 ...            ...
216        Members and      WHO scale
217  Associate Members  for 2022â€“2023
219             Zambia         0.0090
220           Zimbabwe         0.0050
221              TOTAL        100.000

[214 rows x 2 columns]

In [270]:
dfs = dfs[dfs[0].str.contains("Members and")==False]
dfs = dfs[dfs[0].str.contains("Associate Members")==False]
dfs = dfs[dfs[0].str.contains("%")==False]

dfs

#Still some NAs because some country names are on multiple lines (e.g. Great Britain)

               0        3
3    Afghanistan   0.0070
4        Albania   0.0080
5        Algeria   0.1380
6        Andorra   0.0050
7         Angola   0.0100
..           ...      ...
215     WHA74.13      NaN
219       Zambia   0.0090
220     Zimbabwe   0.0050
221        TOTAL  100.000
224            6      NaN

[205 rows x 2 columns]

In [273]:
dfs.to_csv("who_assessments.csv", index=False)

In [275]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 3 to 224
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      205 non-null    object
 1   assessments  197 non-null    object
dtypes: object(2)
memory usage: 4.8+ KB

In [277]:
dfs['assessments'] = dfs['assessments'].astype(float)

In [284]:
#These country names were broken up into several lines -- only case where this matters is Great Britain
dfs[dfs['assessments'].isna() == True]

                                 country  assessments
45     Cook Islands (not a member of the          NaN
53       Democratic Peopleâ€™s Republic of          NaN
140     Niue (not a member of the United          NaN
154     Puerto Rico (not a member of the          NaN
194  Tokelau (not a member of the United          NaN
205  United Kingdom of Great Britain and          NaN
215                             WHA74.13          NaN
224                                    6          NaN

In [281]:
dfs.sort_values(by="assessments", ascending = False).head(11)

#NOTE: Northern Ireland is actually "United Kingdom of Great Britain and Northern Ireland"

                      country  assessments
221                     TOTAL     100.0000
208  United States of America      22.0000
41                      China      12.0058
97                      Japan       8.5645
77                    Germany       6.0904
206          Northern Ireland       4.5673
70                     France       4.4273
95                      Italy       3.3072
29                     Brazil       2.9482
37                     Canada       2.7342
160        Russian Federation       2.4052

## The Avengers

Using [THE_AVENGERS.pdf](THE_AVENGERS.pdf), approximately how many lines does Captain America have as compared to Thor and Iron Man?

* Character names only: we're only counting `IRON MAN` as Iron Man, not `TONY`.
* Your new best friend might be `\n`
* Look up `.count` for strings

In [16]:
parsed = parser.from_file("THE_AVENGERS.pdf")

2021-07-24 20:04:52,432 [MainThread  ] [INFO ]  Retrieving http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.24/tika-server-1.24.jar to C:\Users\savey\AppData\Local\Temp\tika-server.jar.
2021-07-24 20:07:35,529 [MainThread  ] [INFO ]  Retrieving http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.24/tika-server-1.24.jar.md5 to C:\Users\savey\AppData\Local\Temp\tika-server.jar.md5.
2021-07-24 20:07:37,155 [MainThread  ] [WARNI]  Failed to see startup log message; retrying...

In [17]:
parsed.keys()

dict_keys(['metadata', 'content', 'status'])

In [19]:
parsed['content'][:2000]

'\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nMarvelâ€™s THE AVENGERS\n\nWritten By\n\nJoss Whedon\n\nStory By\n\nZak Penn and Joss Whedon\n\nBased on the characters appearing in the comic books\n\nPublished by MARVEL Comics\n\nTranscribed to PDF using:\n\nCeltx Studio | 2012\n\nComposed In Celtx Studio\n\nWith the help of\n\nSiOmniaFictaâ€™s Script\n\non fanfiction.net\n\nENTERTAINMENT PURPOSES ONLY\n\n\n\n1 EXT. UNKNOWN AREA OF SPACE 1\n\nSpace, a floating staircase among the rocks...THE OTHER\n\nspeaks to a DISEMBODIED FIGURE in a chair.\n\nTHE OTHER (V.O)\n\nThe Tesseract has awakened. It is\n\non a little world, a human world.\n\nThey would wield its power.\n\nTHE OTHER hands LOKI a scepter with a glowing blue gem...\n\nTHE OTHER (V.O)\n\nBut our ally knows its workings as\n\nthey never will. He is ready to\n\nlead. And our force...\n\nThe CHITAURI put on their face mask and get ready.\n\nTHE OTHER (V.O)\n\n...our Chitauri, will follow. The\n\nworld will be his...the universe,\n\nyours. And the humans, what can\n\nthey do but burn?\n\nA 3d model of the Tesseract, we move inside it slowly\n\n2 EXT. MOUNTAIN RANGE - EARLY NIGHT 2\n\nA helicopter SPEEDS over this mountain at high-speed. The\n\nCAMERA pans up over the mountain and we see...\n\n3 EXT. SHIELD/NASA FACILITY - CONTINUOUS 3\n\nThis base is grand beyond belief. There is a frantic\n\nevacuation in progress. AGENTS, SCIENTISTS, and PERSONNEL\n\nrush around the base frantically.\n\nINTERCOM VOICE\n\nAll personnel, evacuation order has\n\nbeen confirmed. Proceed to your\n\ndesignated vehicles...\n\nA man flushes people by. The sign on the building reads:\n\nJOINT DARK ENERGY MISSION; WESTERN DIVISION; PROJECT\n\nPEGASUS, NASA SPACE RADIATION FACILITY, S.H.I.E.L.D\n\nACCELERATOR TEST FACILITY\n\nINTERCOM VOICE\n\n...for all campus evacuation.\n\nSecurity Guards direct traffic. SHIELD agents assist people,\n\nsome stuff the trunks of their cars and leave the campus.\n\n(CONTINUED)\n\n\n\nCONTINUED: (2) 2.\n\nINTERCOM VOICE (CONTâ€™D)\n\nThis is not a drill. Emergency\n\npersonnel proceed to your\n\ndesignated vehicles for all campus'

In [52]:
pattern1 = "\n\nIRON MAN\n\n"
pattern2 = "\n\nIRON MAN \(CONT"
pattern3 = "\n\nIRON MAN \(V.O"

result = re.findall(pattern1, parsed['content'])
result2 = re.findall(pattern2, parsed['content'])
result3 = re.findall(pattern3, parsed['content'])

print(len(result))
print(len(result2))
print(len(result3))
total = len(result) + len(result2) + len(result3)
print("Iron man speaks", total, "times")

19
0
0
Iron man speaks 19 times

In [54]:
pattern1 = "\n\nCAPTAIN AMERICA\n\n"
pattern2 = "\n\nCAPTAIN AMERICA \(CONT"
pattern3 = "\n\nCAPTAIN AMERICA \(V.O"

result = re.findall(pattern1, parsed['content'])
result2 = re.findall(pattern2, parsed['content'])
result3 = re.findall(pattern3, parsed['content'])

print(len(result))
print(len(result2))
print(len(result3))
total = len(result) + len(result2) + len(result3)
print("Captain America speaks", total, "times")

35
2
1
Captain America speaks 38 times

In [55]:
pattern1 = "\n\nTHOR\n\n"
pattern2 = "\n\nTHOR \(CONT"
pattern3 = "\n\nTHOR \(V.O"

result = re.findall(pattern1, parsed['content'])
result2 = re.findall(pattern2, parsed['content'])
result3 = re.findall(pattern3, parsed['content'])

print(len(result))
print(len(result2))
print(len(result3))
total = len(result) + len(result2) + len(result3)
print("Thor speaks", total, "times")

47
0
0
Thor speaks 47 times

## COVID data

Using [covidweekly2721.pdf](covidweekly2721.pdf), what's the total number of tests performed in Minnesota? Use the Laboratory Test Rates by County of Residence chart.

* You COULD pull both tables separately OR you could pull them both at once and split them in pandas.
* Remember you can do things like `df[['name','age']]` to ask for multiple columns

In [56]:
tables = camelot.read_pdf("covidweekly2721.pdf", flavor="stream", pages='6')

In [66]:
%matplotlib notebook
camelot.plot(tables[0], kind='text').show()

In [61]:
data = tables[0].df
data

,0,1,2,3,4,5,6
0,,,,,,"18,544",
1,,Laboratory Test Rates by County of Residence,,,,,
2,,,,,,"tests per 10,000 people statewide",
3,,County,Number of Tests,Cumulative Rate,County,Number of Tests,Cumulative Rate
4,Cumulative rate of tests by county of residenc...,,,,,,
5,,Aitkin,"19,204","12,128",Martin,"39,876","19,974"
6,reporting both positive and negative results a...,,,,,,
7,,,,,,,
8,,Anoka,"545,958","15,714",McLeod,"61,300","17,111"
9,,Becker,"59,238","17,540",Meeker,"37,736","16,351"
10,,Beltrami,"60,345","13,085",Mille Lacs,"44,688","17,369"
11,,Benton,"77,865",,Morrison,"59,179","17,961"
12,,,"9,953","26,976",,,
13,,Big Stone,"13,220","26,356",Mower,"79,446","20,061"
14,,Blue Earth,"136,895","20,641",Murray,"15,175","18,167"
15,,Brown,"55,709","22,097",Nicollet,"66,163","19,585"
16,,Carlton,"79,882","22,477",Nobles,"30,979","14,185"
17,,Carver,"154,305","15,367",Norman,"11,471","17,489"
18,,Cass,"31,760","10,943",Olmsted,"277,493","18,129"
19,,Chippewa,"27,089","22,555",Otter Tail,"110,163","18,996"
20,,Chisago,"90,811","16,593",Pennington,"15,424","10,874"
21,,Clay,"108,867","17,335",Pine,"35,859","12,310"
22,,Clearwater,"9,427","10,698",Pipestone,"19,655","21,399"
23,,Cook,"8,966","16,882",Polk,"42,729","13,526"
24,,Cottonwood,"21,088","18,544",Pope,"20,459","18,633"
25,,Crow Wing,"85,522","13,393",Ramsey,"987,792","18,242"
26,,Dakota,"715,290","17,104",Red Lake,"4,078","10,175"
27,,Dodge,"37,729","18,331",Redwood,"27,476","17,922"
28,,Douglas,"68,086","18,301",Renville,"30,498","20,717"
29,,Faribault,"31,294","22,520",Rice,"177,409","26,976"
30,,Fillmore,"40,081","19,189",Rock,"19,147","20,341"
31,,Freeborn,"63,008","20,641",Roseau,"23,169","14,984"
32,,Goodhue,"87,119","18,850",Scott,"230,375","16,068"
33,,Grant,"10,310","17,363",Sherburne,"184,952","19,838"
34,,Hennepin,"2,292,159","18,553",Sibley,"24,133","16,184"
35,,Houston,"21,417","11,476",St. Louis,"383,063","19,145"
36,,Hubbard,"20,764","9,953",Stearns,"285,098","18,180"
37,,Isanti,"56,067","14,386",Steele,"64,840","17,679"
38,,Itasca,"80,265","17,757",Stevens,"20,325","20,774"
39,,Jackson,"14,075","14,009",Swift,"18,288","19,433"
40,,Kanabec,"16,504","10,312",Todd,"33,013","13,508"
41,,Kandiyohi,"85,305","19,997",Traverse,"7,041","21,100"
42,,Kittson,"9,969","22,986",Wabasha,"46,421","21,591"
43,,Koochiching,"21,647","17,120",Wadena,"33,447","24,510"
44,,Lac qui Parle,"13,601","20,081",Waseca,"34,795","18,499"
45,,Lake,"19,664","18,605",Washington,"460,537","18,180"
46,,Lake of the Woods,"5,957","15,639",Watonwan,"20,172","18,383"
47,,Le Sueur,"43,972","15,714",Wilkin,"7,973","12,570"
48,,Lincoln,"10,696","18,742",Winona,"106,625","20,970"
49,,Lyon,"46,116","17,847",Wright,"194,085","14,621"
50,,Mahnomen,"6,643","12,065",Yellow Medicine,"19,972","20,239"
51,,Marshall,"10,279","10,944",Unknown/missing,"423,136",
52,Â© 2021 Mapbox Â© OpenStreetMap,,,,,,
53,,Minnesota Department of Health Weekly COVID-19...,,,,,Page 6

In [67]:
tables = camelot.read_pdf("covidweekly2721.pdf", flavor="stream", pages='6', table_areas=['462, 571, 786, 23'])

In [69]:
data = tables[0].df
data

,0,1,2,3,4,5
0,County,Number of Tests,Cumulative Rate,County,Number of Tests,Cumulative Rate
1,Aitkin,"19,204","12,128",Martin,"39,876","19,974"
2,Anoka,"545,958","15,714",McLeod,"61,300","17,111"
3,Becker,"59,238","17,540",Meeker,"37,736","16,351"
4,Beltrami,"60,345","13,085",Mille Lacs,"44,688","17,369"
5,Benton,"77,865",,Morrison,"59,179","17,961"
6,,"9,953","26,976",,,
7,Big Stone,"13,220","26,356",Mower,"79,446","20,061"
8,Blue Earth,"136,895","20,641",Murray,"15,175","18,167"
9,Brown,"55,709","22,097",Nicollet,"66,163","19,585"
10,Carlton,"79,882","22,477",Nobles,"30,979","14,185"
11,Carver,"154,305","15,367",Norman,"11,471","17,489"
12,Cass,"31,760","10,943",Olmsted,"277,493","18,129"
13,Chippewa,"27,089","22,555",Otter Tail,"110,163","18,996"
14,Chisago,"90,811","16,593",Pennington,"15,424","10,874"
15,Clay,"108,867","17,335",Pine,"35,859","12,310"
16,Clearwater,"9,427","10,698",Pipestone,"19,655","21,399"
17,Cook,"8,966","16,882",Polk,"42,729","13,526"
18,Cottonwood,"21,088","18,544",Pope,"20,459","18,633"
19,Crow Wing,"85,522","13,393",Ramsey,"987,792","18,242"
20,Dakota,"715,290","17,104",Red Lake,"4,078","10,175"
21,Dodge,"37,729","18,331",Redwood,"27,476","17,922"
22,Douglas,"68,086","18,301",Renville,"30,498","20,717"
23,Faribault,"31,294","22,520",Rice,"177,409","26,976"
24,Fillmore,"40,081","19,189",Rock,"19,147","20,341"
25,Freeborn,"63,008","20,641",Roseau,"23,169","14,984"
26,Goodhue,"87,119","18,850",Scott,"230,375","16,068"
27,Grant,"10,310","17,363",Sherburne,"184,952","19,838"
28,Hennepin,"2,292,159","18,553",Sibley,"24,133","16,184"
29,Houston,"21,417","11,476",St. Louis,"383,063","19,145"
30,Hubbard,"20,764","9,953",Stearns,"285,098","18,180"
31,Isanti,"56,067","14,386",Steele,"64,840","17,679"
32,Itasca,"80,265","17,757",Stevens,"20,325","20,774"
33,Jackson,"14,075","14,009",Swift,"18,288","19,433"
34,Kanabec,"16,504","10,312",Todd,"33,013","13,508"
35,Kandiyohi,"85,305","19,997",Traverse,"7,041","21,100"
36,Kittson,"9,969","22,986",Wabasha,"46,421","21,591"
37,Koochiching,"21,647","17,120",Wadena,"33,447","24,510"
38,Lac qui Parle,"13,601","20,081",Waseca,"34,795","18,499"
39,Lake,"19,664","18,605",Washington,"460,537","18,180"
40,Lake of the Woods,"5,957","15,639",Watonwan,"20,172","18,383"
41,Le Sueur,"43,972","15,714",Wilkin,"7,973","12,570"
42,Lincoln,"10,696","18,742",Winona,"106,625","20,970"
43,Lyon,"46,116","17,847",Wright,"194,085","14,621"
44,Mahnomen,"6,643","12,065",Yellow Medicine,"19,972","20,239"
45,Marshall,"10,279","10,944",Unknown/missing,"423,136",

In [78]:
#https://www.geeksforgeeks.org/split-pandas-dataframe-by-column-index/

pg1 = data.iloc[:,[0,1,2]]
pg1.columns = pg1.loc[0]
pg1 = pg1.drop(0)

pg1 = pg1.drop(6) #dropping ghost row after Benton
pg1

0              County Number of Tests Cumulative Rate
1              Aitkin          19,204          12,128
2               Anoka         545,958          15,714
3              Becker          59,238          17,540
4            Beltrami          60,345          13,085
5              Benton          77,865
7           Big Stone          13,220          26,356
8          Blue Earth         136,895          20,641
9               Brown          55,709          22,097
10            Carlton          79,882          22,477
11             Carver         154,305          15,367
12               Cass          31,760          10,943
13           Chippewa          27,089          22,555
14            Chisago          90,811          16,593
15               Clay         108,867          17,335
16         Clearwater           9,427          10,698
17               Cook           8,966          16,882
18         Cottonwood          21,088          18,544
19          Crow Wing          85,522          13,393
20             Dakota         715,290          17,104
21              Dodge          37,729          18,331
22            Douglas          68,086          18,301
23          Faribault          31,294          22,520
24           Fillmore          40,081          19,189
25           Freeborn          63,008          20,641
26            Goodhue          87,119          18,850
27              Grant          10,310          17,363
28           Hennepin       2,292,159          18,553
29            Houston          21,417          11,476
30            Hubbard          20,764           9,953
31             Isanti          56,067          14,386
32             Itasca          80,265          17,757
33            Jackson          14,075          14,009
34            Kanabec          16,504          10,312
35          Kandiyohi          85,305          19,997
36            Kittson           9,969          22,986
37        Koochiching          21,647          17,120
38      Lac qui Parle          13,601          20,081
39               Lake          19,664          18,605
40  Lake of the Woods           5,957          15,639
41           Le Sueur          43,972          15,714
42            Lincoln          10,696          18,742
43               Lyon          46,116          17,847
44           Mahnomen           6,643          12,065
45           Marshall          10,279          10,944

In [79]:
pg2 = data.iloc[:,[3,4,5]]
pg2.columns = pg2.loc[0]
pg2 = pg2.drop(0)
pg2 = pg2.drop(6)

pg2

0            County Number of Tests Cumulative Rate
1            Martin          39,876          19,974
2            McLeod          61,300          17,111
3            Meeker          37,736          16,351
4        Mille Lacs          44,688          17,369
5          Morrison          59,179          17,961
7             Mower          79,446          20,061
8            Murray          15,175          18,167
9          Nicollet          66,163          19,585
10           Nobles          30,979          14,185
11           Norman          11,471          17,489
12          Olmsted         277,493          18,129
13       Otter Tail         110,163          18,996
14       Pennington          15,424          10,874
15             Pine          35,859          12,310
16        Pipestone          19,655          21,399
17             Polk          42,729          13,526
18             Pope          20,459          18,633
19           Ramsey         987,792          18,242
20         Red Lake           4,078          10,175
21          Redwood          27,476          17,922
22         Renville          30,498          20,717
23             Rice         177,409          26,976
24             Rock          19,147          20,341
25           Roseau          23,169          14,984
26            Scott         230,375          16,068
27        Sherburne         184,952          19,838
28           Sibley          24,133          16,184
29        St. Louis         383,063          19,145
30          Stearns         285,098          18,180
31           Steele          64,840          17,679
32          Stevens          20,325          20,774
33            Swift          18,288          19,433
34             Todd          33,013          13,508
35         Traverse           7,041          21,100
36          Wabasha          46,421          21,591
37           Wadena          33,447          24,510
38           Waseca          34,795          18,499
39       Washington         460,537          18,180
40         Watonwan          20,172          18,383
41           Wilkin           7,973          12,570
42           Winona         106,625          20,970
43           Wright         194,085          14,621
44  Yellow Medicine          19,972          20,239
45  Unknown/missing         423,136

In [80]:
mn_tests = pd.concat([pg1,pg2], ignore_index=True)
mn_tests

0            County Number of Tests Cumulative Rate
0            Aitkin          19,204          12,128
1             Anoka         545,958          15,714
2            Becker          59,238          17,540
3          Beltrami          60,345          13,085
4            Benton          77,865
..              ...             ...             ...
83           Wilkin           7,973          12,570
84           Winona         106,625          20,970
85           Wright         194,085          14,621
86  Yellow Medicine          19,972          20,239
87  Unknown/missing         423,136

[88 rows x 3 columns]

In [81]:
mn_tests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   County           88 non-null     object
 1   Number of Tests  88 non-null     object
 2   Cumulative Rate  88 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB

In [86]:
#mn_tests['Number of Tests'] = mn_tests['Number of Tests'].astype(float)

mn_tests['Number of Tests'] = mn_tests['Number of Tests'].str.replace(',', '').astype(float)

In [89]:
mn_tests['Number of Tests'].sum()

10249823.0

## Theme Parks

Using [2019-Theme-Index-web-1.pdf](2019-Theme-Index-web-1.pdf), save a CSV of the top 10 theme park groups worldwide.

* You can clean the results or you can restrict the area the table is pulled from, up to you

In [90]:
tables = camelot.read_pdf("2019-Theme-Index-web-1.pdf", flavor="stream", pages="11")

tables

In [92]:
theme_parks = tables[0].df

theme_parks

,0,1,2,3,4
0,RANK\n1,GROUP NAME\nWALT DISNEY ATTRACTIONS,% CHANGE\n-0.8%,"ATTENDANCE\n2019\n 155,991,000","ATTENDANCE \n2018\n 157,311,000"
1,2,MERLIN ENTERTAINMENTS GROUP,0.9%,"67,000,000","66,400,000*"
2,3,OCT PARKS CHINA,9.4%,"53,970,000","49,350,000"
3,4,UNIVERSAL PARKS AND RESORTS,2.3%,"51,243,000","50,068,000"
4,5,FANTAWILD GROUP,19.8%,"50,393,000","42,074,000"
5,6,CHIMELONG GROUP,8.9%,"37,018,000","34,007,000"
6,7,SIX FLAGS INC.,2.5%,"32,811,000","32,024,000"
7,8,CEDAR FAIR ENTERTAINMENT COMPANY,7.8%,"27,938,000","25,912,000"
8,9,SEAWORLD PARKS & ENTERTAINMENT,0.2%,"22,624,000","22,582,000"
9,10,PARQUES REUNIDOS,6.2%,"22,195,000","20,900,000"
10,TOP 10 ATTENDANCE GROWTH 2018â€“19,,4.0%,,"521,183,000 501,228,000"
11,Â© 2020 TEA / AECOM,,,,

In [ ]:
theme_parks.to_csv("themeparks.csv", index=False)

#This is a short list so it's easier to clean it in Excel than in Pandas

## Hunting licenses

Using [US_Fish_and_Wildlife_Service_2021.pdf](US_Fish_and_Wildlife_Service_2021.pdf) and [a CSV of state populations](http://goodcsv.com/geography/us-states-territories/), find the states with the highest per-capita hunting license holders.

In [115]:
#tables = camelot.read_pdf("covidweekly2721.pdf", flavor="stream", pages='6', table_areas=['462, 571, 786, 23'])

tables = camelot.read_pdf("US_Fish_and_Wildlife_Service_2021.pdf", flavor="lattice")
tables

In [116]:
data = tables[0].df
data

,0,1,2,3,4,5,6,7
0,State,Paid Hunting License \nHolders*,"Resident Hunting Licenses,\nTags, Permits and ...","Non-Resident Hunting \nLicenses,\nTags, Permit...","Total Hunting License, \nTags,Permits & Stamps**","Cost - Resident Hunting \nLicenses,\nTags, Per...","Cost - Non-Resident Hunting \nLicenses,\nTags,...",Gross Cost - Hunting \nLicenses
1,AK,"93,559","423,501","59,235","482,736","$4,859,356","$9,046,715","$13,906,071"
2,AL,"452,400","601,683","45,397","647,080","$9,700,295","$6,715,734","$16,416,029"
3,AR,"343,300","349,098","150,728","499,826","$7,851,601","$11,271,653","$19,123,254"
4,AS,0,0,0,0,$0,$0,$0
5,AZ,"302,383","464,607","88,708","553,315","$13,931,397","$5,968,169","$19,899,566"
6,CA,"262,009","949,540","25,535","975,075","$20,270,941","$1,114,625","$21,385,566"
7,CO,"296,609","481,253","120,954","602,207","$13,270,492","$49,732,815","$63,003,307"
8,CT,"32,052","101,377","4,543","105,920","$1,855,046","$372,108","$2,227,154"
9,DC,0,0,0,0,$0,$0,$0
10,DE,"15,619","45,997","6,044","52,041","$899,857","$499,867","$1,399,724"
11,FL,"191,501","275,295","20,104","295,399","$5,745,815","$1,185,179","$6,930,994"
12,GA,"724,269","1,278,512","156,423","1,434,935","$9,182,934","$9,505,429","$18,688,363"
13,GU,543,"1,334",0,"1,334","$15,995",$0,"$15,995"
14,HI,"10,608","10,697","1,274","11,971","$424,453","$133,770","$558,223"
15,IA,"214,398","567,033","70,562","637,595","$12,654,471","$5,250,727","$17,905,198"
16,ID,"275,244","1,412,039","248,610","1,660,649","$11,465,795","$18,704,191","$30,169,986"
17,IL,"293,617","1,286,280","81,944","1,368,224","$15,058,155","$14,764,600","$29,822,755"
18,IN,"250,481","337,728","21,356","359,084","$8,656,243","$2,450,035","$11,106,278"
19,KS,"264,331","286,196","174,334","460,530","$7,325,503","$18,428,588","$25,754,091"
20,KY,"319,690","432,216","114,649","546,865","$12,223,653","$8,728,198","$20,951,851"
21,LA,"424,918","522,414","52,724","575,138","$7,636,981","$1,958,068","$9,595,049"
22,MA,"55,139","239,101","17,849","256,950","$1,909,776","$445,310","$2,355,086"
23,MD,"116,702","272,730","65,204","337,934","$3,237,325","$3,110,066","$6,347,391"
24,ME,"201,370","193,326","33,866","227,192","$4,443,522","$3,143,929","$7,587,451"
25,MI,"642,242","2,027,911","56,781","2,084,692","$30,975,103","$4,192,335","$35,167,438"
26,MN,"545,300","1,287,146","44,750","1,331,896","$28,262,127","$3,899,420","$32,161,547"
27,MO,"472,993","1,718,224","93,646","1,811,870","$12,049,038","$9,941,978","$21,991,016"
28,MP,23,23,0,23,$230,$0,$230
29,MS,"271,281","292,528","84,168","376,696","$4,729,196","$7,796,435","$12,525,631"
30,MT,"222,309","853,341","186,315","1,039,656","$10,966,890","$26,951,488","$37,918,378"
31,NC,"609,131","280,656","26,404","307,060","$8,274,234","$2,264,888","$10,539,122"
32,ND,"135,724","375,250","126,916","502,166","$4,680,314","$6,094,905","$10,775,219"
33,NE,"180,932","299,496","93,317","392,813","$8,366,685","$7,558,178","$15,924,863"
34,NH,"55,562","129,474","20,511","149,985","$3,071,480","$1,432,078","$4,503,558"
35,NJ,"68,767","281,220","121,963","403,183","$6,328,826","$1,152,802","$7,481,628"
36,NM,"110,874","287,829","112,877","400,706","$5,164,543","$11,689,723","$16,854,266"
37,NV,"89,603","97,387","28,489","125,876","$3,634,268","$3,475,115","$7,109,383"
38,NY,"550,868","1,343,275","49,018","1,392,293","$19,993,113","$4,166,190","$24,159,303"
39,OH,"346,220","770,492","99,530","870,022","$14,636,310","$8,145,996","$22,782,306"
40,OK,"512,724","387,930","27,899","415,829","$5,313,277","$4,704,096","$10,017,373"
41,OR,"328,323","1,250,170","68,043","1,318,213","$22,316,871","$6,004,417","$28,321,288"
42,PA,"945,731","2,299,595","109,096","2,408,691","$31,435,305","$6,418,857","$37,854,162"
43,PR,"7,362","2,151",11,"2,162","$84,926",$760,"$85,686"
44,RI,"7,514","49,019","4,705","53,724","$607,820","$133,965","$741,785"
45,SC,"208,843","893,226","107,735","1,000,961","$4,795,967","$5,180,858","$9,976,825"
46,SD,"213,786","241,059","115,902","356,961","$7,425,329","$13,522,167","$20,947,496"
47,TN,"694,458","722,305","66,774","789,079","$11,501,652","$4,415,002","$15,916,654"
48,TX,"1,094,753","1,617,322","86,692","1,704,014","$34,381,172","$12,097,724","$46,478,896"
49,UT,"250,565","405,303","50,260","455,563","$12,799,520","$6,708,584","$19,508,104"
50,VA,"254,517","776,242","42,686","818,928","$18,589,392","$3,831,438","$22,420,830"
51,VI,0,0,0,0,$0,$0,$0
52,VT,"62,237","166,813","16,988","183,801","$3,083,660","$1,005,616","$4,089,276"
53,WA,"171,940","688,501","13,365","701,866","$16,004,985","$1,063,616","$17,068,601"
54,WI,"666,670","3,965,367","236,639","4,202,006","$28,526,992","$7,884,672","$36,411,664"
55,WV,"205,447","484,447","143,966","628,413","$3,800,948","$4,881,189","$8,682,137"
56,WY,"135,228","186,849","82,865","269,714","$11,254,147","$23,660,065","$34,914,212"
57,Total:,"15,202,669","34,712,508","3,878,354","38,590,862","$545,673,926","$372,804,333","$918,478,259"

In [117]:
#data.replace({ r'\A\s+|\s+\Z': '', '\n' : ' '}, regex=True, inplace=True)
#https://stackoverflow.com/questions/46522652/replacing-newlines-with-spaces-for-str-columns-through-pandas-dataframe

data.replace('\n', ' ', regex=True, inplace=True)

In [118]:
data

,0,1,2,3,4,5,6,7
0,State,Paid Hunting License Holders*,"Resident Hunting Licenses, Tags, Permits and S...","Non-Resident Hunting Licenses, Tags, Permits ...","Total Hunting License, Tags,Permits & Stamps**","Cost - Resident Hunting Licenses, Tags, Permi...","Cost - Non-Resident Hunting Licenses, Tags, P...",Gross Cost - Hunting Licenses
1,AK,"93,559","423,501","59,235","482,736","$4,859,356","$9,046,715","$13,906,071"
2,AL,"452,400","601,683","45,397","647,080","$9,700,295","$6,715,734","$16,416,029"
3,AR,"343,300","349,098","150,728","499,826","$7,851,601","$11,271,653","$19,123,254"
4,AS,0,0,0,0,$0,$0,$0
5,AZ,"302,383","464,607","88,708","553,315","$13,931,397","$5,968,169","$19,899,566"
6,CA,"262,009","949,540","25,535","975,075","$20,270,941","$1,114,625","$21,385,566"
7,CO,"296,609","481,253","120,954","602,207","$13,270,492","$49,732,815","$63,003,307"
8,CT,"32,052","101,377","4,543","105,920","$1,855,046","$372,108","$2,227,154"
9,DC,0,0,0,0,$0,$0,$0
10,DE,"15,619","45,997","6,044","52,041","$899,857","$499,867","$1,399,724"
11,FL,"191,501","275,295","20,104","295,399","$5,745,815","$1,185,179","$6,930,994"
12,GA,"724,269","1,278,512","156,423","1,434,935","$9,182,934","$9,505,429","$18,688,363"
13,GU,543,"1,334",0,"1,334","$15,995",$0,"$15,995"
14,HI,"10,608","10,697","1,274","11,971","$424,453","$133,770","$558,223"
15,IA,"214,398","567,033","70,562","637,595","$12,654,471","$5,250,727","$17,905,198"
16,ID,"275,244","1,412,039","248,610","1,660,649","$11,465,795","$18,704,191","$30,169,986"
17,IL,"293,617","1,286,280","81,944","1,368,224","$15,058,155","$14,764,600","$29,822,755"
18,IN,"250,481","337,728","21,356","359,084","$8,656,243","$2,450,035","$11,106,278"
19,KS,"264,331","286,196","174,334","460,530","$7,325,503","$18,428,588","$25,754,091"
20,KY,"319,690","432,216","114,649","546,865","$12,223,653","$8,728,198","$20,951,851"
21,LA,"424,918","522,414","52,724","575,138","$7,636,981","$1,958,068","$9,595,049"
22,MA,"55,139","239,101","17,849","256,950","$1,909,776","$445,310","$2,355,086"
23,MD,"116,702","272,730","65,204","337,934","$3,237,325","$3,110,066","$6,347,391"
24,ME,"201,370","193,326","33,866","227,192","$4,443,522","$3,143,929","$7,587,451"
25,MI,"642,242","2,027,911","56,781","2,084,692","$30,975,103","$4,192,335","$35,167,438"
26,MN,"545,300","1,287,146","44,750","1,331,896","$28,262,127","$3,899,420","$32,161,547"
27,MO,"472,993","1,718,224","93,646","1,811,870","$12,049,038","$9,941,978","$21,991,016"
28,MP,23,23,0,23,$230,$0,$230
29,MS,"271,281","292,528","84,168","376,696","$4,729,196","$7,796,435","$12,525,631"
30,MT,"222,309","853,341","186,315","1,039,656","$10,966,890","$26,951,488","$37,918,378"
31,NC,"609,131","280,656","26,404","307,060","$8,274,234","$2,264,888","$10,539,122"
32,ND,"135,724","375,250","126,916","502,166","$4,680,314","$6,094,905","$10,775,219"
33,NE,"180,932","299,496","93,317","392,813","$8,366,685","$7,558,178","$15,924,863"
34,NH,"55,562","129,474","20,511","149,985","$3,071,480","$1,432,078","$4,503,558"
35,NJ,"68,767","281,220","121,963","403,183","$6,328,826","$1,152,802","$7,481,628"
36,NM,"110,874","287,829","112,877","400,706","$5,164,543","$11,689,723","$16,854,266"
37,NV,"89,603","97,387","28,489","125,876","$3,634,268","$3,475,115","$7,109,383"
38,NY,"550,868","1,343,275","49,018","1,392,293","$19,993,113","$4,166,190","$24,159,303"
39,OH,"346,220","770,492","99,530","870,022","$14,636,310","$8,145,996","$22,782,306"
40,OK,"512,724","387,930","27,899","415,829","$5,313,277","$4,704,096","$10,017,373"
41,OR,"328,323","1,250,170","68,043","1,318,213","$22,316,871","$6,004,417","$28,321,288"
42,PA,"945,731","2,299,595","109,096","2,408,691","$31,435,305","$6,418,857","$37,854,162"
43,PR,"7,362","2,151",11,"2,162","$84,926",$760,"$85,686"
44,RI,"7,514","49,019","4,705","53,724","$607,820","$133,965","$741,785"
45,SC,"208,843","893,226","107,735","1,000,961","$4,795,967","$5,180,858","$9,976,825"
46,SD,"213,786","241,059","115,902","356,961","$7,425,329","$13,522,167","$20,947,496"
47,TN,"694,458","722,305","66,774","789,079","$11,501,652","$4,415,002","$15,916,654"
48,TX,"1,094,753","1,617,322","86,692","1,704,014","$34,381,172","$12,097,724","$46,478,896"
49,UT,"250,565","405,303","50,260","455,563","$12,799,520","$6,708,584","$19,508,104"
50,VA,"254,517","776,242","42,686","818,928","$18,589,392","$3,831,438","$22,420,830"
51,VI,0,0,0,0,$0,$0,$0
52,VT,"62,237","166,813","16,988","183,801","$3,083,660","$1,005,616","$4,089,276"
53,WA,"171,940","688,501","13,365","701,866","$16,004,985","$1,063,616","$17,068,601"
54,WI,"666,670","3,965,367","236,639","4,202,006","$28,526,992","$7,884,672","$36,411,664"
55,WV,"205,447","484,447","143,966","628,413","$3,800,948","$4,881,189","$8,682,137"
56,WY,"135,228","186,849","82,865","269,714","$11,254,147","$23,660,065","$34,914,212"
57,Total:,"15,202,669","34,712,508","3,878,354","38,590,862","$545,673,926","$372,804,333","$918,478,259"

In [119]:
data.columns = data.loc[0]
data = data.drop(0)
data

,State,Paid Hunting License Holders*,"Resident Hunting Licenses, Tags, Permits and Stamps","Non-Resident Hunting Licenses, Tags, Permits and Stamps","Total Hunting License, Tags,Permits & Stamps**","Cost - Resident Hunting Licenses, Tags, Permits and Stamps","Cost - Non-Resident Hunting Licenses, Tags, Permits and Stamps",Gross Cost - Hunting Licenses
1,AK,"93,559","423,501","59,235","482,736","$4,859,356","$9,046,715","$13,906,071"
2,AL,"452,400","601,683","45,397","647,080","$9,700,295","$6,715,734","$16,416,029"
3,AR,"343,300","349,098","150,728","499,826","$7,851,601","$11,271,653","$19,123,254"
4,AS,0,0,0,0,$0,$0,$0
5,AZ,"302,383","464,607","88,708","553,315","$13,931,397","$5,968,169","$19,899,566"
6,CA,"262,009","949,540","25,535","975,075","$20,270,941","$1,114,625","$21,385,566"
7,CO,"296,609","481,253","120,954","602,207","$13,270,492","$49,732,815","$63,003,307"
8,CT,"32,052","101,377","4,543","105,920","$1,855,046","$372,108","$2,227,154"
9,DC,0,0,0,0,$0,$0,$0
10,DE,"15,619","45,997","6,044","52,041","$899,857","$499,867","$1,399,724"
11,FL,"191,501","275,295","20,104","295,399","$5,745,815","$1,185,179","$6,930,994"
12,GA,"724,269","1,278,512","156,423","1,434,935","$9,182,934","$9,505,429","$18,688,363"
13,GU,543,"1,334",0,"1,334","$15,995",$0,"$15,995"
14,HI,"10,608","10,697","1,274","11,971","$424,453","$133,770","$558,223"
15,IA,"214,398","567,033","70,562","637,595","$12,654,471","$5,250,727","$17,905,198"
16,ID,"275,244","1,412,039","248,610","1,660,649","$11,465,795","$18,704,191","$30,169,986"
17,IL,"293,617","1,286,280","81,944","1,368,224","$15,058,155","$14,764,600","$29,822,755"
18,IN,"250,481","337,728","21,356","359,084","$8,656,243","$2,450,035","$11,106,278"
19,KS,"264,331","286,196","174,334","460,530","$7,325,503","$18,428,588","$25,754,091"
20,KY,"319,690","432,216","114,649","546,865","$12,223,653","$8,728,198","$20,951,851"
21,LA,"424,918","522,414","52,724","575,138","$7,636,981","$1,958,068","$9,595,049"
22,MA,"55,139","239,101","17,849","256,950","$1,909,776","$445,310","$2,355,086"
23,MD,"116,702","272,730","65,204","337,934","$3,237,325","$3,110,066","$6,347,391"
24,ME,"201,370","193,326","33,866","227,192","$4,443,522","$3,143,929","$7,587,451"
25,MI,"642,242","2,027,911","56,781","2,084,692","$30,975,103","$4,192,335","$35,167,438"
26,MN,"545,300","1,287,146","44,750","1,331,896","$28,262,127","$3,899,420","$32,161,547"
27,MO,"472,993","1,718,224","93,646","1,811,870","$12,049,038","$9,941,978","$21,991,016"
28,MP,23,23,0,23,$230,$0,$230
29,MS,"271,281","292,528","84,168","376,696","$4,729,196","$7,796,435","$12,525,631"
30,MT,"222,309","853,341","186,315","1,039,656","$10,966,890","$26,951,488","$37,918,378"
31,NC,"609,131","280,656","26,404","307,060","$8,274,234","$2,264,888","$10,539,122"
32,ND,"135,724","375,250","126,916","502,166","$4,680,314","$6,094,905","$10,775,219"
33,NE,"180,932","299,496","93,317","392,813","$8,366,685","$7,558,178","$15,924,863"
34,NH,"55,562","129,474","20,511","149,985","$3,071,480","$1,432,078","$4,503,558"
35,NJ,"68,767","281,220","121,963","403,183","$6,328,826","$1,152,802","$7,481,628"
36,NM,"110,874","287,829","112,877","400,706","$5,164,543","$11,689,723","$16,854,266"
37,NV,"89,603","97,387","28,489","125,876","$3,634,268","$3,475,115","$7,109,383"
38,NY,"550,868","1,343,275","49,018","1,392,293","$19,993,113","$4,166,190","$24,159,303"
39,OH,"346,220","770,492","99,530","870,022","$14,636,310","$8,145,996","$22,782,306"
40,OK,"512,724","387,930","27,899","415,829","$5,313,277","$4,704,096","$10,017,373"
41,OR,"328,323","1,250,170","68,043","1,318,213","$22,316,871","$6,004,417","$28,321,288"
42,PA,"945,731","2,299,595","109,096","2,408,691","$31,435,305","$6,418,857","$37,854,162"
43,PR,"7,362","2,151",11,"2,162","$84,926",$760,"$85,686"
44,RI,"7,514","49,019","4,705","53,724","$607,820","$133,965","$741,785"
45,SC,"208,843","893,226","107,735","1,000,961","$4,795,967","$5,180,858","$9,976,825"
46,SD,"213,786","241,059","115,902","356,961","$7,425,329","$13,522,167","$20,947,496"
47,TN,"694,458","722,305","66,774","789,079","$11,501,652","$4,415,002","$15,916,654"
48,TX,"1,094,753","1,617,322","86,692","1,704,014","$34,381,172","$12,097,724","$46,478,896"
49,UT,"250,565","405,303","50,260","455,563","$12,799,520","$6,708,584","$19,508,104"
50,VA,"254,517","776,242","42,686","818,928","$18,589,392","$3,831,438","$22,420,830"
51,VI,0,0,0,0,$0,$0,$0
52,VT,"62,237","166,813","16,988","183,801","$3,083,660","$1,005,616","$4,089,276"
53,WA,"171,940","688,501","13,365","701,866","$16,004,985","$1,063,616","$17,068,601"
54,WI,"666,670","3,965,367","236,639","4,202,006","$28,526,992","$7,884,672","$36,411,664"
55,WV,"205,447","484,447","143,966","628,413","$3,800,948","$4,881,189","$8,682,137"
56,WY,"135,228","186,849","82,865","269,714","$11,254,147","$23,660,065","$34,914,212"
57,Total:,"15,202,669","34,712,508","3,878,354","38,590,862","$545,673,926","$372,804,333","$918,478,259"

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 1 to 57
Data columns (total 8 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   State                                                            57 non-null     object
 1   Paid Hunting License  Holders*                                   57 non-null     object
 2   Resident Hunting Licenses, Tags, Permits and Stamps              57 non-null     object
 3   Non-Resident Hunting  Licenses, Tags, Permits and Stamps         57 non-null     object
 4   Total Hunting License,  Tags,Permits & Stamps**                  57 non-null     object
 5   Cost - Resident Hunting  Licenses, Tags, Permits and Stamps      57 non-null     object
 6   Cost - Non-Resident Hunting  Licenses, Tags, Permits and Stamps  57 non-null     object
 7   Gross Cost - Hunting  Licenses                                   57 non-null     object
dtypes: object(8)
memory usage: 4.0+ KB

In [123]:
data['Paid Hunting License  Holders*'] = data['Paid Hunting License  Holders*'].str.replace(',', '').astype(int)

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 1 to 57
Data columns (total 8 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   State                                                            57 non-null     object
 1   Paid Hunting License  Holders*                                   57 non-null     int32
 2   Resident Hunting Licenses, Tags, Permits and Stamps              57 non-null     object
 3   Non-Resident Hunting  Licenses, Tags, Permits and Stamps         57 non-null     object
 4   Total Hunting License,  Tags,Permits & Stamps**                  57 non-null     object
 5   Cost - Resident Hunting  Licenses, Tags, Permits and Stamps      57 non-null     object
 6   Cost - Non-Resident Hunting  Licenses, Tags, Permits and Stamps  57 non-null     object
 7   Gross Cost - Hunting  Licenses                                   57 non-null     object
dtypes: int32(1), object(7)
memory usage: 3.8+ KB

In [134]:
states = pd.read_csv("us-states-territories.csv", thousands=r',')

In [135]:
states

,Type,Name,Abbreviation,Capital,Population (2015),Population (2019),area (square miles)
0,State,Alabama,AL,Montgomery,NaN,4903185.0,52420.000
1,State,Alaska,AK,Juneau,NaN,731545.0,665384.000
2,State,Arizona,AZ,Phoenix,NaN,7278717.0,113990.000
3,State,Arkansas,AR,Little Rock,NaN,3017804.0,53179.000
4,State,California,CA,Sacramento,NaN,39512223.0,163695.000
...,...,...,...,...,...,...,...
60,Territory,Kingman Reef,NaN,NaN,NaN,NaN,0.005
61,Territory,Midway Atoll,NaN,NaN,NaN,NaN,3.000
62,Territory,Navassa Island,NaN,NaN,NaN,NaN,3.000
63,Territory,Palmyra Atoll,NaN,NaN,NaN,NaN,1.500
64,Territory,Wake Island,NaN,NaN,NaN,NaN,2.500

In [132]:
license_holders = data[['State','Paid Hunting License  Holders*']]
license_holders

0    State  Paid Hunting License  Holders*
1       AK                           93559
2       AL                          452400
3       AR                          343300
4       AS                               0
5       AZ                          302383
6       CA                          262009
7       CO                          296609
8       CT                           32052
9       DC                               0
10      DE                           15619
11      FL                          191501
12      GA                          724269
13      GU                             543
14      HI                           10608
15      IA                          214398
16      ID                          275244
17      IL                          293617
18      IN                          250481
19      KS                          264331
20      KY                          319690
21      LA                          424918
22      MA                           55139
23      MD                          116702
24      ME                          201370
25      MI                          642242
26      MN                          545300
27      MO                          472993
28      MP                              23
29      MS                          271281
30      MT                          222309
31      NC                          609131
32      ND                          135724
33      NE                          180932
34      NH                           55562
35      NJ                           68767
36      NM                          110874
37      NV                           89603
38      NY                          550868
39      OH                          346220
40      OK                          512724
41      OR                          328323
42      PA                          945731
43      PR                            7362
44      RI                            7514
45      SC                          208843
46      SD                          213786
47      TN                          694458
48      TX                         1094753
49      UT                          250565
50      VA                          254517
51      VI                               0
52      VT                           62237
53      WA                          171940
54      WI                          666670
55      WV                          205447
56      WY                          135228
57  Total:                        15202669

In [136]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Type                 65 non-null     object
 1   Name                 65 non-null     object
 2   Abbreviation         56 non-null     object
 3   Capital              55 non-null     object
 4   Population (2015)    4 non-null      float64
 5   Population (2019)    52 non-null     float64
 6   area (square miles)  65 non-null     float64
dtypes: float64(3), object(4)
memory usage: 3.7+ KB

In [139]:
license_holders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 1 to 57
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   State                           57 non-null     object
 1   Paid Hunting License  Holders*  57 non-null     int32
dtypes: int32(1), object(1)
memory usage: 1.1+ KB

In [144]:
states['Abbreviation'] = states.Abbreviation.str.strip()

In [147]:
#https://pandas.pydata.org/pandas-docs/version/0.19.2/generated/pandas.merge.html
merged = states.merge(license_holders, left_on='Abbreviation', right_on='State', how = 'inner')
merged

,Type,Name,Abbreviation,Capital,Population (2015),Population (2019),area (square miles),State,Paid Hunting License Holders*
0,State,Alabama,AL,Montgomery,NaN,4903185.0,52420.0,AL,452400
1,State,Alaska,AK,Juneau,NaN,731545.0,665384.0,AK,93559
2,State,Arizona,AZ,Phoenix,NaN,7278717.0,113990.0,AZ,302383
3,State,Arkansas,AR,Little Rock,NaN,3017804.0,53179.0,AR,343300
4,State,California,CA,Sacramento,NaN,39512223.0,163695.0,CA,262009
5,State,Colorado,CO,Denver,NaN,5758736.0,104094.0,CO,296609
6,State,Connecticut,CT,Hartford,NaN,3565278.0,5543.0,CT,32052
7,State,Delaware,DE,Dover,NaN,973764.0,2489.0,DE,15619
8,State,Florida,FL,Tallahassee,NaN,21477737.0,65758.0,FL,191501
9,State,Georgia,GA,Atlanta,NaN,10617423.0,59425.0,GA,724269
10,State,Hawaii,HI,Honolulu,NaN,1415872.0,10932.0,HI,10608
11,State,Idaho,ID,Boise,NaN,1787065.0,83569.0,ID,275244
12,State,Illinois,IL,Springfield,NaN,12671821.0,57914.0,IL,293617
13,State,Indiana,IN,Indianapolis,NaN,6732219.0,36420.0,IN,250481
14,State,Iowa,IA,Des Moines,NaN,3155070.0,56273.0,IA,214398
15,State,Kansas,KS,Topeka,NaN,2913314.0,82278.0,KS,264331
16,State,Kentucky[E],KY,Frankfort,NaN,4467673.0,40408.0,KY,319690
17,State,Louisiana,LA,Baton Rouge,NaN,4648794.0,52378.0,LA,424918
18,State,Maine,ME,Augusta,NaN,1344212.0,35380.0,ME,201370
19,State,Maryland,MD,Annapolis,NaN,6045680.0,12406.0,MD,116702
20,State,Massachusetts[E],MA,Boston,NaN,6892503.0,10554.0,MA,55139
21,State,Michigan,MI,Lansing,NaN,9986857.0,96714.0,MI,642242
22,State,Minnesota,MN,St. Paul,NaN,5639632.0,86936.0,MN,545300
23,State,Mississippi,MS,Jackson,NaN,2976149.0,48432.0,MS,271281
24,State,Missouri,MO,Jefferson City,NaN,6137428.0,69707.0,MO,472993
25,State,Montana,MT,Helena,NaN,1068778.0,147040.0,MT,222309
26,State,Nebraska,NE,Lincoln,NaN,1934408.0,77348.0,NE,180932
27,State,Nevada,NV,Carson City,NaN,3080156.0,110572.0,NV,89603
28,State,New Hampshire,NH,Concord,NaN,1359711.0,9349.0,NH,55562
29,State,New Jersey,NJ,Trenton,NaN,8882190.0,8723.0,NJ,68767
30,State,New Mexico,NM,Santa Fe,NaN,2096829.0,121590.0,NM,110874
31,State,New York,NY,Albany,NaN,19453561.0,54555.0,NY,550868
32,State,North Carolina,NC,Raleigh,NaN,10488084.0,53819.0,NC,609131
33,State,North Dakota,ND,Bismarck,NaN,762062.0,70698.0,ND,135724
34,State,Ohio,OH,Columbus,NaN,11689100.0,44826.0,OH,346220
35,State,Oklahoma,OK,Oklahoma City,NaN,3956971.0,69899.0,OK,512724
36,State,Oregon,OR,Salem,NaN,4217737.0,98379.0,OR,328323
37,State,Pennsylvania[E],PA,Harrisburg,NaN,12801989.0,46054.0,PA,945731
38,State,Rhode Island[F],RI,Providence,NaN,1059361.0,1545.0,RI,7514
39,State,South Carolina,SC,Columbia,NaN,5148714.0,32020.0,SC,208843
40,State,South Dakota,SD,Pierre,NaN,884659.0,77116.0,SD,213786
41,State,Tennessee,TN,Nashville,NaN,6829174.0,42144.0,TN,694458
42,State,Texas,TX,Austin,NaN,28995881.0,268596.0,TX,1094753
43,State,Utah,UT,Salt Lake City,NaN,3205958.0,84897.0,UT,250565
44,State,Vermont,VT,Montpelier,NaN,623989.0,9616.0,VT,62237
45,State,Virginia[E],VA,Richmond,NaN,8535519.0,42775.0,VA,254517
46,State,Washington,WA,Olympia,NaN,7614893.0,71298.0,WA,171940
47,State,West Virginia,WV,Charleston,NaN,1792147.0,24230.0,WV,205447
48,State,Wisconsin,WI,Madison,NaN,5822434.0,65496.0,WI,666670
49,State,Wyoming,WY,Cheyenne,NaN,578759.0,97813.0,WY,135228
50,Federal District,District of Columbia,DC,NaN,NaN,705749.0,68.0,DC,0
51,Territory,American Samoa,AS,Pago Pago,57400.0,NaN,581.0,AS,0
52,Territory,Guam,GU,Hagï¿½tï¿½a,161700.0,NaN,571.0,GU,543
53,Territory,Northern Mariana Islands,MP,Saipan,52300.0,NaN,1976.0,MP,23
54,Territory,Puerto Rico,PR,San Juan,NaN,3193694.0,5325.0,PR,7362
55,Territory,U.S. Virgin Islands,VI,Charlotte Amalie,103700.0,NaN,733.0,VI,0

In [161]:
merged['per_cap'] = merged['Paid Hunting License  Holders*'] / merged['Population (2019)']

In [164]:
merged.sort_values(by="per_cap", ascending=False).head(10)

,Type,Name,Abbreviation,Capital,Population (2015),Population (2019),area (square miles),State,Paid Hunting License Holders*,per_cap
40,State,South Dakota,SD,Pierre,NaN,884659.0,77116.0,SD,213786,0.241659
49,State,Wyoming,WY,Cheyenne,NaN,578759.0,97813.0,WY,135228,0.233652
25,State,Montana,MT,Helena,NaN,1068778.0,147040.0,MT,222309,0.208003
33,State,North Dakota,ND,Bismarck,NaN,762062.0,70698.0,ND,135724,0.178101
11,State,Idaho,ID,Boise,NaN,1787065.0,83569.0,ID,275244,0.154020
18,State,Maine,ME,Augusta,NaN,1344212.0,35380.0,ME,201370,0.149805
35,State,Oklahoma,OK,Oklahoma City,NaN,3956971.0,69899.0,OK,512724,0.129575
1,State,Alaska,AK,Juneau,NaN,731545.0,665384.0,AK,93559,0.127892
47,State,West Virginia,WV,Charleston,NaN,1792147.0,24230.0,WV,205447,0.114637
48,State,Wisconsin,WI,Madison,NaN,5822434.0,65496.0,WI,666670,0.114500